@import url('https://fonts.googleapis.com/css?family=Monoton');

:root {
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

body {
  font-family: 'monoton', cursive;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
}

/* Navbar */
.navbar {
  font-family: 'monoton', cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: var(--primary-color);
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

ul {
  list-style: none;
}
